---
// @ts-nocheck
import MainLayout from "../layouts/MainLayout.astro"
---


		<MainLayout>
			<main>
				<button data-mood="happy">Happy</button>
				<button data-mood="sad">Sad</button>
				<button data-mood="romantic">Romantic</button>
				<button data-mood="energetic">Energetic</button>
				<button data-mood="stressed">Stressed</button>
			</main>

			<!-- define:vars={{ moodNaarGenre }} geeft de variable door van de serverSide -->
			<!-- bron: https://docs.astro.build/en/reference/directives-reference/#definevars -->
			<script>
				const moodButtons = document.querySelectorAll("button")

				moodButtons.forEach(function(button){
				button.addEventListener("click", function(){
				const mood = button.getAttribute("data-mood")
				
				// uitkomst van de genreId doorgeven als params in de url
				// bron: 
				if (mood) {
					window.location.href = "/movie-results?mood=" + mood;
				}
				console.log("mood uit button:", mood);
				})
			})
			</script>

		</MainLayout>
