---
// @ts-nocheck
import MainLayout from "../layouts/MainLayout.astro"

// mood ophalen die ik met de url heb mee gegeven
export const prerender = false;
const mood = Astro.url.searchParams.get("mood")
console.log("mood in results:", mood)

const moodNaarGenre = {
	happy: 35,       // Comedy
	sad: 18,         // Drama
	romantic: 10749, // Romance
	energetic: 28,   // Action
	stressed: 16     // Animation
}

const genreId = moodNaarGenre[mood]

const base = "https://api.themoviedb.org/3"
const endpoint = "/discover/movie?with_genres=" + genreId + "&sort_by=popularity.desc&vote_average.gte=6"
const API_KEY = import.meta.env.TMDB_API_KEY

const url = base + endpoint + "&api_key=" + API_KEY

console.log("URL:", url);

const response = await fetch(url)
const data = await response.json()
console.log(data)

console.log("API data:", data);
console.log("Films:", data.results);


// testeb of ik de data van de genres kan ophalen van de API zodat ik die kan koppelen aan de moodNaarGenre object in de mood.astro
// const url = base + endpoint + "?api_key=" + API_KEY
// const response = await fetch(url)
// const data = await response.json()
// console.log(data)

// testen of ik de juiste genreId krijg bij een mood
// const geselecteerdeMood = "happy"
// const genreId = moodNaarGenre[geselecteerdeMood]
// console.log(genreId)
---

<MainLayout>
	<main>
		<article>
			<h1></h1>
			<img src="" alt="">
			<p></p>
		</article>
	</main>
</MainLayout>
